$brand-primary: #000000;
$brand-secondary: #5e17eb;
$background: #f7f7f7;
$brand-corners: 50rem;

// $brand-primary: #000000;
// $brand-secondary: #5e17eb;
// $background: #1e1e1e;
// $brand-corners: 50rem;